.bx-timeman-component-timeline-chart-interval {
    height: 24px;
    width: 100%;
    z-index: 100;
}

.bx-timeman-component-timeline-chart-interval-first {
    border-radius: 10px 0 0 10px;
}

.bx-timeman-component-timeline-chart-interval-last {
    border-radius: 0 10px 10px 0;
}

.bx-timeman-component-timeline-chart-interval-round {
    border-radius: 10px;
}

.bx-timeman-component-timeline-chart-interval-item-clickable {
    cursor: pointer;
}

.bx-timeman-component-timeline-chart-interval-item-clickable:hover {
    transition: all 200ms ease;
    background-color: #ecfcf1;
}

.bx-timeman-component-timeline-chart-interval-item {
    height: 100%;
    width: 100%;
}

.bx-timeman-component-timeline-chart-interval-item-working {
    background-color: #8ceda9;
}

.bx-timeman-component-timeline-chart-interval-item-personal {
    background-color: #b5bac0;
}

.bx-timeman-component-timeline-chart-interval-item-inactive {
    background-color: #f5f5f5;
}

.bx-timeman-component-timeline-chart-interval-item-working.bx-timeman-component-timeline-chart-interval-item-selected {
    background-color: #2FBE54;
}

.bx-timeman-component-timeline-chart-interval-item-personal.bx-timeman-component-timeline-chart-interval-item-selected {
    background-color: #868D95;
}

.bx-timeman-component-timeline-chart-interval-item-transparent {
    background-color: transparent;
}

.bx-timeman-component-timeline-chart-interval-marker-container {
    display: flex;
    justify-content: space-between;
}

.bx-timeman-component-timeline-chart-interval-marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.bx-timeman-component-timeline-chart-interval-marker-start {
    margin: 0 -14px;
}

.bx-timeman-component-timeline-chart-interval-marker-finish {
    margin-left: calc(100% - 16px);
}

.bx-timeman-component-timeline-chart-interval-marker-line {
    height: 8px;
    width: 1px;
    margin-top: 8px;
    background-color: #b5bac0;
}

.bx-timeman-component-timeline-chart-interval-marker-title {
    user-select: none;
    font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}