/*region common*/
.page-section {
	padding: 15px;
	padding-bottom: 0;
	background-color: #fff;
}

.page-section.order-payment-view-mode { padding-top: 0; }

.bx-dark .page-section,
.bx-dark.page-section { background-color: #242426; }

.page-section-title {
	color: #333;
	opacity: .8;
	font: 16px/18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .page-section-title { color: #fff; }

.page-section-inner { margin: 0 -15px; }

.page-section-inner p {
	color: #81818b;
	font: 17px/22px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .page-section-inner p { color: #fff; }

/*endregion*/

/*region payment*/
.order-payment-container {
	position: relative;
	min-width: calc(100% - 10px);
	width: calc(100% - 10px);
	margin: 0 5px;
	z-index: 5;
	padding: 12px 15px;
	border: 1px solid rgba(151, 151, 151, 0.33);
	border-radius: 6px;
}

.order-payment-container.order-payment-sibling-container:before {
	position: absolute;
	top: -21px;
	left: 20px;
	width: 1px;
	height: 17px;
	background: rgba(151, 151, 151, 0.33);
	content: '';
}

.order-payment-title {
	margin-bottom: 6px;
	color: rgba(172, 172, 180, 0.78);
	font: 13px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-payment-title { color: rgba(172, 172, 180, 0.79); }

.order-payment-inner { }

.order-payment-operator {
	padding-right: 10px;
	max-width: 170px;
}

.order-payment-operator img {
	max-width: 100%;
	height: auto;
}

.order-payment-status {
	padding-right: 10px;
	color: #393945;
	text-transform: uppercase;
	white-space: nowrap;
	font: 500 10px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-payment-status { color: #fff; }

.order-payment-status-ok {
	width: 16px;
	height: 12px;
	background: url(images/payment-check.svg) no-repeat left center;
}

.order-payment-price {
	color: rgba(44, 44, 54, 0.6);
	white-space: nowrap;
	font: 14px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bx-dark .order-payment-price { color: rgba(255, 255, 255, 0.6); }

.order-payment-price .rub { font-family: 'rubleBitrix'; }

.order-payment-buttons-container {
	margin-top: 20px;
	padding-bottom: 15px;
	text-align: center;
}

/*endregion*/

/*region payment-method*/
.order-pay-method-list {}

.order-pay-method-item-container {
	display: flex;
	align-items: center;
	padding: 14px 0;
	border-bottom: 1px solid rgba(18, 18, 18, .1);
	flex-wrap: wrap;
}

.order-pay-method-item-logo-block {
	width: 66px;
	min-width: 66px;
	max-width: 66px;
	height: 46px;
	padding: 3px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.order-pay-method-logo {
	background-color: #fff;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.order-pay-method-text-block {
	padding-left: 10px;
	flex: 1;
}

.order-pay-method-text {
	font: 15px/17px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #121212;
}

.bx-dark .order-pay-method-text { color: #fff; }

.order-pay-method-btn-block {}

.order-payment-method-item-img {
	max-height: 100%;
	max-width: 170px;
}

.btn.order-payment-method-item-button {
	padding: 10px 20px !important;
	font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	cursor: pointer;
	color: #fff;
	border: none !important;
	line-height: normal !important;
}

.btn.order-payment-method-item-button,
.btn.order-payment-method-item-button:hover,
.btn.order-payment-method-item-button:focus,
.btn.order-payment-method-item-button:active {
	background-color: #00ae34 !important;
	--theme-color-primary: #00ae34;
}


.btn.info-mode {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-style: normal !important;
	font-weight: 500 !important;
	font-size: 15px !important;
	line-height: 18px !important;
	text-transform: uppercase;
	color: #55a8ff;
}

.btn.info-mode:hover { color: #fff; }

.bx-dark .order-payment-method-item-button.info-mode { color: #55a8ff; }

.order-payment-method-item.info-mode:first-child { margin-top: -15px; }

.order-payment-method-item.selected.info-mode .order-payment-method-item-button { color: #badcff; }

.order-payment-button-reload {
	padding: 10px 30px;
	font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	color: #333;
	border-radius: 20px;
	background: none;
}

.bx-dark .order-payment-button-reload { color: #fff; }


.order-payment-method-description { font: 14px/24px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.order-payment-method-description-title {
	border-top: 1px solid #eeeff0;
	padding: 15px 15px 0;
	color: #3c3c3c;
	margin-bottom: 5px;
}

.bx-dark .order-payment-method-description-title {
	border-color: #32323d;
	color: #fff;
}

.order-payment-method-description .order-payment-method-description-text {
	padding: 0 15px 15px;
	position: relative;
	color: #94949e;
}

.bx-dark .order-payment-method-description-text { color: #d3d3d3; }

/*endregion*/

.order-payment-method-container .main-user-consent-request-announce {
	font: 11px/13px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.order-payment-method-container .main-user-consent-request {
	padding: 15px;
	margin: 0;
}

.bx-dark .main-user-consent-request-announce { color: #fff; }

/*Controls*/
.bx-dark .form-control {
	border: none;
	border-bottom: 1px solid rgba(82, 92, 105, 0.1);
	background-color: transparent;
	border-radius: 0;
	padding-left: 0;
}

.bx-dark .form-control::placeholder {
	color: #ccccd3;
	opacity: 1;
}

.bx-dark .form-control:active,
.bx-dark .form-control:focus {
	color: #fff;
	background-color: transparent;
}

.bx-dark .form-control {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.bx-dark .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control:-moz-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

.bx-dark .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
	transition: 170ms linear all;
}

a.check-link {
	color: rgb(83, 173, 235);
	text-decoration: underline;
}

a.check-link:hover { text-decoration: none; }

.bx-dark a.check-link {
	color: rgba(172, 172, 180, 0.79);
	text-decoration: underline;
}

.bx-dark a.check-link:hover { text-decoration: none; }

.bx-dark .check-print {
	color: rgba(172, 172, 180, 0.79);
}

.page-section input[type=submit] {
	margin: 25px auto auto;
	display: block;
}

.order-payment-pay-system-name {
	color: #8f9297;
	font-size: 21px;
}

.order-payment-operator .order-payment-pay-system-name { font-size: 16px; }


.order-payment-loader {
	position: relative;
	color: transparent !important;
}

.order-payment-loader:after {
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	border-right-color: transparent;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -6px;
	margin-left: -6px;
	animation-name: spin;
	animation-duration: 1000ms !important;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
